/* universal styles */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Londrina Solid", cursive;
  color: purple;
  text-align: center;
}

/* styles navbar */
#navContainer {
  background-color: violet;
  width: 41%;
  height: 100%;
  position: fixed;
  left: -100px;
  transition: 0.5s;
}

/* slides navbar */
#navContainer.active {
  left: 0;
}

/* styles burger icon */
.icon.fas.fa-bars {
  position: relative;
  cursor: pointer;
  float: right;
  margin-right: 5px;
  font-size: 25px;
}

/* spaces out menu text */
ul li {
  margin-top: 70px;
  margin-left: 5px;
  display: block;
  text-align: left;
}

/* styles menu text */
.nav-text {
  font-size: 27px;
}

/* thickens text/burger and keeps highlight for the selected */
.icon.fas.fa-bars:hover,
.icon.fas.fa-bars:active,
.nav-text:hover,
.nav-text:active {
  font-weight: bold;
  font-size: 28px;
}

/* styles text when selected*/
.nav-text:hover,
.nav-text:active {
  font-size: 30px;
  transition: 0.4s;
  background-color: purple;
  padding: 5px;
  border-radius: 3px;
  color: pink;
}

/* background colours */
#welcome,
#skills,
#contacts {
  background-color: pink;
}

/* styles headings and links */
#welcome,
#projects,
#skills,
#contacts,
#cv,
.links {
  text-align: center;
  font-size: 2rem;
}

/* grid system for imgs */
#projects {
  display: grid;
}

/* styles imgs */
img {
  border: solid 2px purple;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 20px 0px 10px;
  padding: 5px;
}
