/* universal styles */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Londrina Solid", cursive;
  color: black;
}

/* styles navbar */
#navContainer {
  border: 3px solid yellow;
  background-color: green;
  width: 60%;
  height: 100%;
  position: fixed;
}

/* spaces out menu text */
ul li {
  margin-top: 70px;
}

/* styles menu text */
a {
  padding-left: 15px;
  font-size: 25px;
}

/* styles fonts */
.fas.fa-times,
.fas.fa-bars, 
.fas.fa-home,
.fas.fa-laptop,
.fas.fa-chart-bar,
.fas.fa-envelope-open-text,
.far.fa-file {
  margin-left: 15px;
  font-size: 25px;
}

/* controls nav close sign */
.fas.fa-times,
.fas.fa-bars {
  float: right;
  margin-right: 5px;
  margin-bottom: 100px;
}
