/**************************************************************************** universal */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding: 2rem;
}

body {
    cursor: default;
    text-align: center;
    font-family: 'Kulim Park', sans-serif;
}

/* scrollbar width */

::-webkit-scrollbar {
    width: 1rem;
}

/* scrollbar outline */

::-webkit-scrollbar-track {
    box-shadow: inset 0rem 0rem 0.6rem rgb(94, 11, 94);
    border-radius: 1rem;
}

/* scrollbar content */

::-webkit-scrollbar-thumb {
    background: rgb(94, 11, 94);
    border-radius: 1rem;
}

/* scrollbar content:hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(245, 212, 245);
}

/**************************************************************************** small nav */

#header {
    background-color: rgb(245, 212, 245);
    padding: 0.5rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 2.9rem;
}

#header li {
    display: inline;
    font-size: 1.5rem;
}

#header ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: right;
}

#header li {
    font-weight: 600;
    padding-right: 1.2rem;
    list-style-type: none;
}

#header .nav-links a {
    display: none;
}

#header .fas.fa-bars {
    cursor: pointer;
    position: fixed;
    left: 0.2rem;
    top: 0.6rem;
}

#header .fas.fa-bars:hover {
    color: rgb(94, 11, 94);
}

#header a {
    text-decoration: none;
    color: black;
}

#header a:hover {
    border-bottom: rgb(94, 11, 94) solid 0.1rem;
    color: rgb(94, 11, 94);
}

/**************************************************************************** big nav */

/**************************************************************************** back to top btn */

#backToTopAside {
    display: none;
    bottom: 5em;
    position: fixed;
    right: 0.5em;
    z-index: 1;
}

#backToTopAside .fas.fa-angle-double-up {
    cursor: pointer;
    font-size: 1.8rem;
    color: rgb(94, 11, 94);
}

#backToTopAside .fas.fa-angle-double-up:hover {
    font-size: 2rem;
}

/**************************************************************************** home */

#home {
    padding-top: 6rem;
    margin-bottom: 6rem;
}

#home h1 {
    font-size: 1.9rem;
    color: rgb(94, 11, 94);
    margin-bottom: 1.5rem;
}

#home p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#home .fas.fa-hand-sparkles {
    color: rgb(94, 11, 94);
    transform: rotate(20deg);
}

#home img {
    border: rgb(94, 11, 94) solid 0.5rem;
    height: 14rem;
    width: 14rem;
}

#home figcaption {
    font-size: 1.5rem;
}

/**************************************************************************** projects */

#projects {
    margin-bottom: 6rem;
    padding: 3.1rem 0rem;
    background-color: rgb(245, 212, 245)
}

#projects h2 {
    margin-bottom: 1.5rem;
}

#projects figure {
    margin-bottom: 2rem;
}

#projects img {
    width: 18rem;
    height: 26rem;
    border: solid 0.2rem rgb(94, 11, 94);
}

#projects figcaption {
    font-size: 1.5rem;
}

/**************************************************************************** skills */

#skills {
    margin-bottom: 6rem;
    padding-top: 3.1rem;
}

#skills h2 {
    margin-bottom: 2rem;
}

#skills ul {
    margin-bottom: 2rem;
}

#skills li {
    display: inline;
    font-size: 1.5rem;
    list-style-type: none;
}

#skills figure {
    margin-bottom: 2rem;
}

#skills img {
    width: 18rem;
    height: 26rem;
    border: solid 0.2rem rgb(94, 11, 94);
}

#skills figcaption {
    font-size: 1.5rem;
}

/**************************************************************************** footer */

#footer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(245, 212, 245);
}

#footer p {
    font-size: 2rem;
    padding: 1rem;
}

#footer a {
    color: black;
}

#footer a:hover {
    color: rgb(94, 11, 94)
}

/**************************************************************************** media queries */