/**************************************************************************** universal */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding: 2rem;
}

body {
    cursor: default;
    text-align: center;
    font-family: 'Kulim Park', sans-serif;
}

/* scrollbar width */

::-webkit-scrollbar {
    width: 1rem;
}

/* scrollbar outline */

::-webkit-scrollbar-track {
    box-shadow: inset 0rem 0rem 0.6rem rgb(94, 11, 94);
    border-radius: 1rem;
}

/* scrollbar content */

::-webkit-scrollbar-thumb {
    background: rgb(94, 11, 94);
    border-radius: 1rem;
}

/* scrollbar content:hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(245, 212, 245);
}

/**************************************************************************** small nav */

#header {
    background-color: rgb(245, 212, 245);
    padding: 0.5rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 2.9rem;
}

#header li {
    display: inline;
    font-size: 1.5rem;
}

#header ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: right;
}

#header li {
    font-weight: 600;
    padding-right: 1.2rem;
    list-style-type: none;
}

#header .nav-links a {
    display: none;
}

#header .fas.fa-bars {
    cursor: pointer;
    position: fixed;
    left: 0.2rem;
    top: 0.6rem;
}

#header .fas.fa-bars:hover {
    color: rgb(94, 11, 94);
}

#header a {
    text-decoration: none;
    color: black;
}

#header a:hover {
    border-bottom: rgb(94, 11, 94) solid 0.1rem;
    color: rgb(94, 11, 94);
}

/**************************************************************************** big nav */

.big-nav {
    display: none;
}

/**************************************************************************** back to top btn */

#backToTopAside {
    display: none;
    bottom: 5em;
    position: fixed;
    right: 0.5em;
    z-index: 1;
}

#backToTopAside .fas.fa-angle-double-up {
    cursor: pointer;
    font-size: 1.8rem;
    color: rgb(94, 11, 94);
}

#backToTopAside .fas.fa-angle-double-up:hover {
    font-size: 2rem;
}

/**************************************************************************** home */

#home {
    padding-top: 6rem;
    margin-bottom: 6rem;
}

#home h1 {
    font-size: 1.9rem;
    color: rgb(94, 11, 94);
    margin-bottom: 1.5rem;
}

#home p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#home .fas.fa-hand-sparkles {
    color: rgb(94, 11, 94);
    transform: rotate(20deg);
}

#home img {
    border: rgb(94, 11, 94) solid 0.5rem;
    height: 14rem;
    width: 14rem;
}

#home figcaption {
    font-size: 1.5rem;
}

/**************************************************************************** projects */

#projects {
    margin-bottom: 6rem;
    padding: 3.1rem 0rem;
    background-color: rgb(245, 212, 245);
}

#projects h2 {
    margin-bottom: 1.5rem;
}

#projects figure {
    margin-bottom: 2rem;
}

#projects img {
    width: 18rem;
    height: 26rem;
    border: solid 0.2rem rgb(94, 11, 94);
}

#projects img:hover {
    border-width: 0.4rem;
}

#projects figcaption {
    font-size: 1.5rem;
}

/**************************************************************************** skills */

#skills {
    margin-bottom: 6rem;
    padding-top: 3.1rem;
}

#skills h2 {
    margin-bottom: 2rem;
}

#skills ul {
    margin-bottom: 2rem;
}

#skills li {
    display: inline;
    font-size: 1.5rem;
    list-style-type: none;
}

#skills figure {
    margin-bottom: 2rem;
}

#skills img {
    width: 18rem;
    height: 26rem;
    border: solid 0.2rem rgb(94, 11, 94);
}

#skills img:hover {
    border-width: 0.4rem;
}

#skills figcaption {
    font-size: 1.5rem;
}

/**************************************************************************** footer */

#footer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(245, 212, 245);
}

#footer p {
    font-size: 2rem;
    padding: 1rem;
}

#footer a {
    color: black;
}

#footer a:hover {
    color: rgb(94, 11, 94)
}

/**************************************************************************** media queries */

@media only screen and (min-width: 666px) {
    /**************************************************************************** universal */
    html {
        scroll-padding: 4.4rem;
    }
    /**************************************************************************** small nav */
    #header {
        height: 4.5rem;
    }
    #header li {
        font-size: 3rem;
    }
    /**************************************************************************** home */
    #home {
        padding-top: 7.3rem;
    }
    #home h1 {
        font-size: 3.5rem;
    }
    #home p {
        font-size: 2.4rem;
    }
    #home figcaption {
        font-size: 1.9rem;
    }
    /**************************************************************************** projects */
    #projects h2 {
        font-size: 2.5rem;
    }
    #projects img {
        width: 30rem;
        height: 32rem;
    }
    #projects figcaption {
        font-size: 1.9rem;
    }
    /**************************************************************************** skills */
    #skills h2 {
        font-size: 2.5rem;
    }
    #skills li {
        font-size: 2.4rem;
    }
    #skills img {
        width: 24rem;
        height: 33rem;
    }
    #skills figcaption {
        font-size: 1.9rem;
    }
    /**************************************************************************** footer */
    #footer a {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1125px) {
    /**************************************************************************** universal */
    html {
        scroll-padding: 0rem;
    }
    /**************************************************************************** back to top btn */
    #backToTopAside .fas.fa-angle-double-up {
        font-size: 3rem;
    }
    #backToTopAside .fas.fa-angle-double-up:hover {
        font-size: 3.5rem;
    }
    /**************************************************************************** small nav */
    .small-nav {
        display: none;
    }
    /**************************************************************************** big nav */
    .big-nav {
        display: block;
        position: fixed;
        right: 0rem;
        background-color: white;
        width: 100%;
        height: 5rem;
        z-index: 1;
    }
    .big-nav ul {
        text-align: right;
        margin-top: 0.5rem;
    }
    .big-nav li {
        display: inline;
        font-size: 3.5rem;
        margin-right: 3.5rem;
    }
    .big-nav li:last-child {
        margin-right: 0.5rem;
    }
    .big-nav a {
        text-decoration: none;
        color: rgb(245, 212, 245);
        background-color: rgb(94, 11, 94);
        border: solid 0.2rem rgb(245, 212, 245);
        padding: 0rem 1rem;
    }
    .big-nav a:hover {
        background-color: rgb(245, 212, 245);
        border: solid 0.2rem rgb(94, 11, 94);
        color: rgb(94, 11, 94);
        font-weight: 900;
    }
    /**************************************************************************** home */
    #home {
        padding-top: 6rem;
    }
    #home h1 {
        font-size: 4rem;
    }
    /**************************************************************************** projects */
    #projects {
        padding-top: 5.1rem;
    }
    #projects h2 {
        font-size: 3.5rem;
    }
    #projects section {
        display: grid;
        grid-template-columns: auto auto;
    }
    #projects img {
        width: 28rem;
        height: 28rem;
    }
    #projects figcaption {
        font-size: 2.5rem;
    }
    #projects section figure:last-child {
        grid-column: 1 / 3;
    }
    /**************************************************************************** skills */
    #skills {
        padding: 5.1rem 1rem 0rem;
        display: grid;
    }
    #skills h2 {
        font-size: 3.5rem;
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    #skills section {
        grid-row: 2;
    }
    #skills figure {
        grid-row: 2;
    }
    #skills li {
        font-size: 2.5rem;
    }
    #skills img {
        width: 26rem;
        height: 33rem;
    }
    #skills figcaption {
        font-size: 2.2rem;
    }
    /**************************************************************************** footer */
    #footer a {
        font-size: 3.5rem;
    }
}