/*********************************************************** custom defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
}

ul {
  list-style: none;
}

/*********************************************************** navbar */
.all-nav-items {
  display: flex;
  justify-content: space-evenly;
}

.nav-items {
  display: inline;
}
