/*********************************************************** custom defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
}

ul {
  list-style: none;
}

/*********************************************************** navbar */
.nav-container {
  font-size: 2rem;
  background-color: #f5fffa;
  padding: 2rem 0.5rem;
}

/******************* links */
.all-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-items {
  display: inline;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: #98fb98;
}
