/************************************************* universal */
* {
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
  list-style: none;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

.back-to-top-btn {
  background-color: pink;
  border-radius: 0.2em;
  width: 2em;
  height: 2.2em;
  position: fixed;
  right: 0.5em;
  bottom: 5em;
  z-index: 1;
  display: none;
  border: deeppink solid 0.2em;
  cursor: pointer;
}

.back-to-top-btn:active,
.back-to-top-btn:focus,
.back-to-top-btn:hover {
  margin-bottom: 0.2em;
  outline: none;
}

.fas.fa-arrow-up {
  font-size: 1.5em;
  margin-top: 0.2em;
  color: deeppink;
}

section {
  cursor: default;
}

/************************************************* navbar */
.navbar.navbar.navbar-expand-lg {
  background-color: pink;
}

.navbar-brand,
.nav-link {
  color: black;
}

button.navbar-toggler:active,
button.navbar-toggler:focus,
button.navbar-toggler:hover {
  border: deeppink solid 0.2em;
  outline: none;
}

.fas.fa-bars {
  color: deeppink;
}

.nav-link {
  text-align: left;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: hotpink;
  color: black;
  transition: 0.1s;
  border-radius: 1em;
  padding: 0.5em;
}

/************************************************* home */
.project-img {
  height: 10em;
  width: 18em;
  border: deeppink 0.3em solid;
  border-radius: 0.2em;
}

/************************************************* skills */
.table thead th {
  background-color: pink;
}

.table td,
.table th {
  border-top: 0.3em solid deeppink;
}

tr:hover {
  background-color: rgba(250, 211, 217, 0.678);
}

/************************************************* cv */
.cv-img {
  height: 18em;
  width: 15em;
  border: deeppink 0.3em solid;
  border-radius: 0.2em;
}

/************************************************* certificates */
.certificate-img {
  height: 18em;
  width: 15em;
  border: deeppink 0.3em solid;
  border-radius: 0.2em;
}

/************************************************* about me */
.about-me-img {
  height: 16em;
  width: 13em;
  border-radius: 100%;
  border: deeppink 0.3em solid;
}

.about-me-para {
  background-color: rgba(250, 211, 217, 0.678);
  border-radius: 0.2em;
}

.fas.fa-envelope,
.fab.fa-linkedin,
.fab.fa-facebook-square,
.fab.fa-twitter-square,
.fab.fa-github-square {
  color: deeppink;
  font-size: 1.5em;
}

.fas.fa-envelope:hover,
.fab.fa-linkedin:hover,
.fab.fa-facebook-square:hover,
.fab.fa-twitter-square:hover,
.fab.fa-github-square:hover {
  color: pink;
}

/************************************************* footer */
footer {
  background-color: pink;
  margin-top: 2em;
}

footer a p {
  color: black;
}

/*************************************************  media queries *************************************************/
/* bootstrap media query */
@media (min-width: 576px) {
  /************************************************* home */
  .project-img {
    height: 12em;
    width: 20em;
  }

  /************************************************* cv */
  .cv-img {
    height: 21em;
    width: 18em;
  }
}

/* bootstrap media query */
@media (min-width: 992px) {
  /************************************************* navbar */
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0em;
  }

  .navbar-expand-lg .navbar-nav .nav-link:active,
  .navbar-expand-lg .navbar-nav .nav-link:focus,
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    padding-left: 0.5em;
  }
}
