/************************************************************************* universal */
$mainFont: "Rubik", sans-serif;
$universal: (
  "padding": 0em,
  "margin": 0em,
  "mainCursor": default,
  "arrowColour": blue,
  "arrowSize": 2.5em,
  "arrowPosition": fixed,
  "arrowBottomRight": 0.5em,
  "arrowDisplay": none,
  "arrowZIndex": 1,
  "arrowCursor": pointer,
  "mainAndSubWeight": 900,
  "mainAndSubheadingCenter": center,
  "headingColour": black,
);

* {
  font-family: $mainFont;
  padding: map-get($universal, "padding");
  margin: map-get($universal, "margin");
}

body {
  cursor: map-get($universal, "mainCursor");
}

#backToTop {
  color: map-get($universal, "arrowColour");
  font-size: map-get($universal, "arrowSize");
  position: map-get($universal, "arrowPosition");
  right: map-get($universal, "arrowBottomRight");
  bottom: map-get($universal, "arrowBottomRight");
  display: map-get($universal, "arrowDisplay");
  z-index: map-get($universal, "arrowZIndex");
  cursor: map-get($universal, "arrowCursor");
}

.title,
.allHeadings {
  text-align: map-get($universal, "mainAndSubheadingCenter");
  font-weight: map-get($universal, "mainAndSubWeight");
}

.allHeadings label {
  color: map-get($universal, "headingColour");
}

/************************************************************************* name nav */
$vivianNav: (
  "bgColour": darkblue,
  "listStyle": none,
  "inlineDisplay": inline,
  "vivianColour": lightblue,
  "iconsColour": lightblue,
  "iconsSize": 1.5em,
  "vivianWeight": 900,
  "iconsHover": blue,
);

.vivianNav {
  background-color: map-get($vivianNav, "bgColour");
}

.vivianNav ul {
  list-style: map-get($vivianNav, "listStyle");
}

.vivianNav ul li {
  display: map-get($vivianNav, "inlineDisplay");
}

.navbar-brand.h1 {
  color: map-get($vivianNav, "vivianColour");
  font-weight: map-get($vivianNav, "vivianWeight");
}

.fab.fa-linkedin,
.fab.fa-github-square,
.fas.fa-envelope,
.fab.fa-twitter-square {
  color: map-get($vivianNav, "iconsColour");
  font-size: map-get($vivianNav, "iconsSize");
}

.fab.fa-linkedin:hover,
.fab.fa-github-square:hover,
.fas.fa-envelope:hover,
.fab.fa-twitter-square:hover {
  color: map-get($vivianNav, "iconsHover");
}

/************************************************************************* menu nav */
$menuNav: (
  "bgColour": lightblue,
  "barsIcon": darkblue,
  "barsBorder": darkblue solid 0.1em,
  "barsOutline": none,
  "mobileLinks": 1.5em,
  "mobileLinksText": darkblue,
  "mobileLinksWeight": 900,
  "mobileHoverLinks": blue,
);

.menuNav {
  background-color: map-get($menuNav, "bgColour");
}

.fas.fa-bars {
  color: map-get($menuNav, "barsIcon");
}

.navbar-toggler {
  text-align: left;
}

.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:hover {
  border: map-get($menuNav, "barsBorder");
  outline: map-get($menuNav, "barsOutline");
}

.mobileLink {
  font-size: map-get($menuNav, "mobileLinks");
}

.mobileLink a {
  color: map-get($menuNav, "mobileLinksText");
  font-weight: map-get($menuNav, "mobileLinksWeight");
}

.mobileLink:hover a {
  color: map-get($menuNav, "mobileHoverLinks");
}

/************************************************************************* projects */
$projects: (
  "widthImg": 8em,
  "heightImg": 5em,
  "imgBorder": darkblue solid 0.2em,
);

.projectImg {
  width: map-get($projects, "widthImg");
  height: map-get($projects, "heightImg");
  border: map-get($projects, "imgBorder");
}

/************************************************************************* skills */
$skills: (
  "awardHeight": 15em,
  "awardWidth": 10em,
  "bgColour": lightblue,
  "borders": 0.2em solid darkblue,
);

.diplomaImg {
  height: map-get($skills, "awardHeight");
  width: map-get($skills, "awardWidth");
  border: map-get($skills, "borders");
}

.table thead {
  background-color: map-get($skills, "bgColour");
  border: map-get($skills, "borders");
}

.table tbody tr {
  border: map-get($skills, "borders");
}

/************************************************************************* about me */
$about: (
  "imgHeight": 10em,
  "imgWidth": 10em,
  "imgBorder": solid darkblue 0.2em,
);

.vivianImg {
  height: map-get($about, "imgHeight");
  width: map-get($about, "imgWidth");
  border: map-get($about, "imgBorder");
}

/************************************************************************* breakpoints *************************************************************************/
$breakpoints: (
  "576px": 576px,
  "768px": 768px,
  "992px": 992px,
  "1200px": 1200px,
);

@media (min-width: map-get($breakpoints, "576px")) {
  /************************************************************************* name nav */
  @mixin vivianName {
    font-size: 1.5em;
  }

  .navbar-brand.h1 {
    @include vivianName;
  }

  @mixin socialIcons {
    font-size: 2.2em;
  }

  .fab.fa-linkedin,
  .fab.fa-github-square,
  .fas.fa-envelope,
  .fab.fa-twitter-square {
    @include socialIcons;
  }

  /************************************************************************* projects */
  @mixin projectImg {
    width: 10em;
    height: 6em;
  }

  .projectImg {
    @include projectImg;
  }

  /************************************************************************* skills */
  @mixin diplomaImg {
    height: 23em;
    width: 16em;
  }

  .diplomaImg {
    @include diplomaImg;
  }

  /************************************************************************* about me */
  @mixin vivianImg {
    height: 13em;
    width: 13em;
  }

  .vivianImg {
    @include vivianImg;
  }
}

@media (min-width: map-get($breakpoints, "768px")) {
  /************************************************************************* projects */
  @mixin projectImg {
    width: 13.5em;
    height: 7em;
  }

  .projectImg {
    @include projectImg;
  }
}

@media (min-width: map-get($breakpoints, "992px")) {
  /************************************************************************* name nav */
  @mixin socialIcons {
    margin: 0em 0.3em;
  }

  .fab.fa-linkedin,
  .fab.fa-github-square,
  .fas.fa-envelope,
  .fab.fa-twitter-square {
    @include socialIcons;
  }

  /************************************************************************* projects */
  @mixin projectImg {
    width: 18em;
    height: 9em;
  }

  .projectImg {
    @include projectImg;
  }
}

@media (min-width: map-get($breakpoints, "1200px")) {
  /************************************************************************* universal */
  @mixin titles {
    font-size: 2.5em;
  }

  .title {
    @include titles;
  }

  @mixin imgLabels {
    font-size: 1.5em;
  }

  .allHeadings label {
    @include imgLabels;
  }

  /************************************************************************* projects */
  @mixin projectImg {
    width: 22em;
    height: 11em;
  }

  .projectImg {
    @include projectImg;
  }

  /************************************************************************* about me */
  @mixin aboutMeHello {
    font-size: 1.5em;
  }

  .aboutMeText h6 {
    @include aboutMeHello;
  }

  @mixin aboutMePara {
    font-size: 1.3em;
  }

  .aboutMeText p {
    @include aboutMePara;
  }
}
