/************************************************************************* universal */
$mainFont: "Rubik", sans-serif;
$universal: (
  "padding": 0em,
  "margin": 0em,
  "mainCursor": default,
  "activeAnchors": none,
);

* {
  font-family: $mainFont;
  padding: map-get($universal, "padding");
  margin: map-get($universal, "margin");
}

body {
  cursor: map-get($universal, "mainCursor");
}

// a,
// a:hover,
// a:active,
// a:focus,
// a:visited {
//   text-decoration: map-get($universal, "activeAnchors");
// }

/************************************************************************* name nav */
$vivianNav: (
  "bgColour": darkblue,
  "vivianColour": lightblue,
  "iconsColour": lightblue,
  "iconsSize": 1.5em,
  "vivianWeight": 900,
);

.vivianNav {
  background-color: map-get($vivianNav, "bgColour");
}

.navbar-brand.h1 {
  color: map-get($vivianNav, "vivianColour");
  font-weight: map-get($vivianNav, "vivianWeight");
}

.fab.fa-linkedin,
.fab.fa-github-square,
.fas.fa-envelope,
.fab.fa-twitter-square {
  color: map-get($vivianNav, "iconsColour");
  font-size: map-get($vivianNav, "iconsSize");
}

/************************************************************************* menu nav */
$menuNav: (
  "bgColour": lightblue,
  "barsIcon": darkblue,
  "barsBorder": darkblue solid 0.1em,
  "barsOutline": none,
  "mobileLinks": 1.5em,
  "mobileLinksText": darkblue,
  "mobileLinksWeight": 900,
  "mobileHoverLinks": darkblue,
);

.menuNav {
  background-color: map-get($menuNav, "bgColour");
}

.fas.fa-bars {
  color: map-get($menuNav, "barsIcon");
}

.navbar-toggler {
  text-align: left;
}

.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:hover {
  border: map-get($menuNav, "barsBorder");
  outline: map-get($menuNav, "barsOutline");
}

.mobileLink {
  font-size: map-get($menuNav, "mobileLinks");
}

.mobileLink a {
  color: map-get($menuNav, "mobileLinksText");
  font-weight: map-get($menuNav, "mobileLinksWeight");
}

.mobileLink:hover a {
  color: map-get($menuNav, "mobileHoverLinks");
}
