/************************************************************************* universal */
$mainFont: "Rubik", sans-serif;
$universal: (
  "padding": 0em,
  "margin": 0em,
  "mainCursor": default,
  "arrowColour": darkblue,
  "arrowSize": 2.5em,
  "arrowPosition": fixed,
  "arrowBottomRight": 0.5em,
  "arrowDisplay": none,
  "arrowZIndex": 1,
  "arrowCursor": pointer,
  "headingWeight": 900,
  "headingCenter": center,
  "headingColour": black,
);

* {
  font-family: $mainFont;
  padding: map-get($universal, "padding");
  margin: map-get($universal, "margin");
}

body {
  cursor: map-get($universal, "mainCursor");
}

#backToTop {
  color: map-get($universal, "arrowColour");
  font-size: map-get($universal, "arrowSize");
  position: map-get($universal, "arrowPosition");
  right: map-get($universal, "arrowBottomRight");
  bottom: map-get($universal, "arrowBottomRight");
  display: map-get($universal, "arrowDisplay");
  z-index: map-get($universal, "arrowZIndex");
  cursor: map-get($universal, "arrowCursor");
}

.allHeadings {
  font-weight: map-get($universal, "headingWeight");
  text-align: map-get($universal, "headingCenter");
}

.allHeadings label {
  color: map-get($universal, "headingColour");
}

/************************************************************************* name nav */
$vivianNav: (
  "bgColour": darkblue,
  "vivianColour": lightblue,
  "iconsColour": lightblue,
  "iconsSize": 1.5em,
  "vivianWeight": 900,
  "iconsHover": blue,
);

.vivianNav {
  background-color: map-get($vivianNav, "bgColour");
}

.navbar-brand.h1 {
  color: map-get($vivianNav, "vivianColour");
  font-weight: map-get($vivianNav, "vivianWeight");
}

.fab.fa-linkedin,
.fab.fa-github-square,
.fas.fa-envelope,
.fab.fa-twitter-square {
  color: map-get($vivianNav, "iconsColour");
  font-size: map-get($vivianNav, "iconsSize");
}

.fab.fa-linkedin:hover,
.fab.fa-github-square:hover,
.fas.fa-envelope:hover,
.fab.fa-twitter-square:hover {
  color: map-get($vivianNav, "iconsHover");
}

/************************************************************************* menu nav */
$menuNav: (
  "bgColour": lightblue,
  "barsIcon": darkblue,
  "barsBorder": darkblue solid 0.1em,
  "barsOutline": none,
  "mobileLinks": 1.5em,
  "mobileLinksText": darkblue,
  "mobileLinksWeight": 900,
  "mobileHoverLinks": blue,
);

.menuNav {
  background-color: map-get($menuNav, "bgColour");
}

.fas.fa-bars {
  color: map-get($menuNav, "barsIcon");
}

.navbar-toggler {
  text-align: left;
}

.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:hover {
  border: map-get($menuNav, "barsBorder");
  outline: map-get($menuNav, "barsOutline");
}

.mobileLink {
  font-size: map-get($menuNav, "mobileLinks");
}

.mobileLink a {
  color: map-get($menuNav, "mobileLinksText");
  font-weight: map-get($menuNav, "mobileLinksWeight");
}

.mobileLink:hover a {
  color: map-get($menuNav, "mobileHoverLinks");
}

/************************************************************************* projects */
$projects: (
  "text": center,
  "widthImg": 8em,
  "heightImg": 5em,
  "imgBorder": darkblue solid 0.2em,
  "imgRadius": 0.5em,
);

#projects {
  text-align: map-get($projects, "text");
}

.projectImg {
  width: map-get($projects, "widthImg");
  height: map-get($projects, "heightImg");
  border: map-get($projects, "imgBorder");
  border-radius: map-get($projects, "imgRadius");
}

/************************************************************************* skills */
$skills: (
  "text": center,
  "awardHeight": 15em,
  "awardWidth": 10em,
);

#skills {
  text-align: map-get($skills, "text");
}

.diplomaImg {
  height: map-get($skills, "awardHeight");
  width: map-get($skills, "awardWidth");
}
